@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Para saber mais sobre ASP.NET Core, entre em <a href="https://docs.microsoft.com/aspnet/core"> </a>.</p>
</div>
